/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/lsp-*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
*.log
.DS_Store
Thumbs.db
auth.json
Homestead.json
Homestead.yaml
_ide_helper.php
/.cursor/
/.idea
/.vscode
/.codex
/.nova
/.zed
